.hero-main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
  transform: scale(1);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 1);
  color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40%;
}

.hero-navs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero-navs nav {
  padding: 1rem 2rem;
  display: flex;
}

.hero-navs nav ul {
  display: flex;
  justify-content: space-around;
  gap: 5.5rem;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-weight: 600;
  }
}

.content-grid {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  margin-top: auto;
  margin-bottom: 4rem;
}

.content-left {
  display: flex;
  align-items: flex-end;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
