.hero-main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
  transform: scale(1);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 1);
  color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
  }

  nav {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-weight: 600;
      }
    }
  }

  .hero-navs {
    width: 100%;
  }
}